.contactsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.contactsSection .contactsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 20px 0;
}
.contactsSection .contactsContainer .contact {
  width: 100%;
  gap: 20px;
  background-color: white;
  border-radius: 15px;
  padding: 10px 20px;
  box-shadow: 1px 1px 4px hsl(201, 33%, 15%);
}